header{
	padding:2px;
	text-align:center;
}
header .countdown{
	display:inline-block;
	position:relative;
	width:180px;
	vertical-align:super;
}

header #groom{
	margin-right:5px;
}

header #bride{
	margin-left:5px;
}