body{
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:14px;
	font-weight: 300;
	color:#666666;
	margin-top:20px;
	background-color:black;
}
#main{
	margin:0 auto;
	width:800px;
}
.fc-event, .fc-day{
	cursor:pointer;
}
#roster{
	margin:10px 0px;
}
.fc-event{
	background-color:#0073E7;
	border: 1px solid #0073E7;

}
.fc-event-inner{
	text-align:center;
}
.fc-content{
	background-color:white;
}
h1, h2, h3, #status{
	color:white;
	font-weight:300;
}
h1{
	margin-bottom:0px;
}
h3{
	margin-top:0px;
	margin-left:2px;
}
#footer{
	color:white;
	text-align:center;
	margin-top:10px;
}
#footer a{
	color:white;
}
#know_t_pain_first{
	display:none;
	color:blue;
}
#header,#subheader,#login{
	float:left;
	width:50%;
}
#calendar,#footer{
	float:left;
	width:100%;
}
#header{
	margin-top:0px;
}
#login{
	text-align:right;
}
#images{
  float: left;
  margin-left: -112px;
  margin-top: -383px;
  width: 114px;
}
#images img{
	width:101px;
	margin-bottom:10px;
}
