<!DOCTYPE html>
<html>
	<head>
		<title>Chris Paul's Boat</title>

		<link rel='stylesheet' href='/app.css' />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</head>
	<body ng-app="BoatApp"
	      ng-controller="BoatCtrl">
		<div class="container center vertical-center">
			<h1>
				chris paul's boat
			</h1>
			<h3>
				renewal in progress
			</h3>
		</div>

		<script src="https://code.jquery.com/jquery-2.2.4.min.js"
		        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
		        crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<script src="app.js"></script>
	</body>
</html>