<!DOCTYPE html>
<html>
	<head>
		<title>Chris Paul's Boat</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

		<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">

		<!-- UIkit CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/css/uikit.min.css" />

		<link rel='stylesheet' href='modules/sprite/sprite.css' />
		<link rel='stylesheet' href='modules/header/header.css' />
		<link rel='stylesheet' href='modules/board/board.css' />
		<link rel='stylesheet' href='app.css' />

		<!-- google login -->
		<meta name="google-signin-scope" content="profile email">
		<meta name="google-signin-client_id" content="519191212714-1qav99v7gaaj78ab1j2khllbqbst0suq.apps.googleusercontent.com">

	</head>
	<body class="white-background"
	      ng-app="BoatApp"
	      ng-controller="BoatCtrl">

		<!-- fb login -->
		<script src="modules/login/facebook.js"></script>
		<script src="modules/login/google.js"></script>

		<header class="red-background"></header>

		<div id="container">
			<h1>
				<span class="green-foreground">JEOPARDY!</span> of Chris Paul
			</h1>
			<div>
				<board class="green-background"></board>
			</div>
			<div id="interface">
				<sprite id="host"
				        position="2"
				        size="1"
				        char="king"
				        moving="host.moving"
								msg="host.msg"></sprite>
			</div>

			<div class="fb-login-button"
			     data-max-rows="1"
			     data-size="large"
			     data-button-type="login_with"
			     data-show-faces="false"
			     data-auto-logout-link="true"
			     data-use-continue-as="false"
			     data-onlogin="checkLoginState();"></div>

			<div id="gSignin"></div>

			<div id="status">
			</div>

		</div>

		<div id="footer">

		</div>

		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-2.2.4.min.js"
		        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
		        crossorigin="anonymous"></script>

		<!-- angular JS -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

		<!-- UIkit JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit-icons.min.js"></script>

		<!-- socket -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.slim.js"></script>

		<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>

		<script src="assets/js/countdown.min.js"></script>

		<script src="const.js"></script>
		<script src="modules/sprite/sprite.js"></script>
		<script src="modules/header/header.js"></script>
		<script src="modules/board/board.js"></script>
		<script src="app.js"></script>
	</body>
</html>