<!DOCTYPE html>
<html>
	<head>
		<title>Chris Paul's Boat</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

		<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">

		<!-- UIkit CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/css/uikit.min.css" />

		<link rel='stylesheet' href='modules/sprite/sprite.css' />
		<link rel='stylesheet' href='modules/header/header.css' />
		<link rel='stylesheet' href='modules/board/board.css' />
		<link rel='stylesheet' href='modules/leaderboard/leaderboard.css' />
		<link rel='stylesheet' href='modules/login/login.css' />
		<link rel='stylesheet' href='modules/footer/footer.css' />
		<link rel='stylesheet' href='app.css' />

		<!-- google login -->
		<meta name="google-signin-scope" content="profile email">
		<meta name="google-signin-client_id" content="519191212714-1qav99v7gaaj78ab1j2khllbqbst0suq.apps.googleusercontent.com">

	</head>
	<body class="white-background"
	      ng-app="BoatApp"
	      ng-controller="BoatCtrl">

		<header class="red-background"></header>

		<div id="container">
			<h1>
				<span class="green-foreground">JEOPARDY!</span> of Chris Paul
			</h1>
			<div>
				<board class="green-background"></board>
			</div>
			<div id="interface">

				<sprite id="host"
				        position="2"
				        size="1"
				        char="king"
				        moving="host.moving"
								msg="host.msg"></sprite>

				<sprite ng-show="player.sprite"
								id="player"
				        position="2"
				        size="1"
				        moving="player.moving"
				        char="{{player.sprite}}"
								msg="player.msg"></sprite>

			</div>
			<login></login>
			<leaderboard></leaderboard>
		</div>

		<footer class="blue-background"></footer>

		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-2.2.4.min.js"
		        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
		        crossorigin="anonymous"></script>

		<script src="http://malsup.github.io/jquery.blockUI.js"></script>

		<!-- angular JS -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

		<!-- UIkit JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit-icons.min.js"></script>

		<!-- socket -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.slim.js"></script>

		<script src="assets/js/countdown.min.js"></script>

		<script src="const.js"></script>
		<script src="modules/sprite/sprite.js"></script>
		<script src="modules/header/header.js"></script>
		<script src="modules/board/board.js"></script>
		<script src="modules/leaderboard/leaderboard.js"></script>
		<script src="modules/login/login.js"></script>
		<script src="modules/footer/footer.js"></script>
		<script src="app.js"></script>
	</body>
</html>