#modalLogin{
	text-align:center;
}

#modalLogin .uk-modal-dialog{
	margin-top:20px;
}
#gSignin{
	display:inline-block;
	top: 4px;
	position: relative;
}

#gSignin .abcRioButton{
	width:238px !important;;
}

.login-button{
	margin:10px 0px;
}

.char{
	display:inline-table;
	width:49%;
	cursor:pointer;
	padding:20px 0px;
}