@font-face {
	font-family: '8bit';
	src: url('/assets/fonts/8-bit pusab.eot'); /* IE9 Compat Modes */
	src: url('/assets/fonts/8-bit pusab.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('/assets/fonts/8-bit pusab.ttf');
}

body, h1{
	font-family:'8bit' !important;
}

h1{
	font-size:24px;
	line-height:normal;
	padding-top:15px;
	margin-bottom:30px;
}

.blue-background{
	background-color:#011627;
}

.blue-foreground{
	color:#011627;
}

.yellow-background{
	background-color:#FF9F1C;
}

.yellow-foreground{
	color:#FF9F1C;
}

.red-foreground{
	color:#E71D36;
}

.red-background{
	background-color:#E71D36;
}

.white-foreground{
	color:#FDFFFC;
}

.white-background{
	background-color:#FDFFFC;
}

.green-background{
	background-color:#2EC4B6;
}

.green-foreground{
	color:#2EC4B6;
}

.font-small{
	font-size:12px;
}

#container{
	margin:15px 15px 70px 15px;
	text-align:center;
}

#interface{;
	text-align:left;
}

#player{
	float:right;
}

.raised{
	text-decoration: none;
	font-weight: bold;
	padding: 20px 70px;
	border: 1px solid #2d6898;
	background-image: linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
	background-image: -o-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);

	background-image: -webkit-gradient(
					linear,
					left bottom,
					left top,
					color-stop(0, rgb(73,132,180)),
					color-stop(1, rgb(97,155,203))
	);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-shadow: 0px -1px 0px rgba(0,0,0,.5);
	-webkit-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-moz-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
}

.raised-yellow{
	background-image: linear-gradient(bottom,  #CB811D 0%, #FF9F1C 100%);
	background-image: -o-linear-gradient(bottom,  #CB811D 0%, #FF9F1C 100%);
	background-image: -moz-linear-gradient(bottom,  #CB811D 0%, #FF9F1C 100%);
	background-image: -webkit-linear-gradient(bottom, #CB811D 0%, #FF9F1C 100%);
	background-image: -ms-linear-gradient(bottom,  #CB811D 0%, #FF9F1C 100%);
	border: 1px solid #FF9F1C;
	-webkit-box-shadow: 0px 6px 0px #A76C1A, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-moz-box-shadow: 0px 6px 0px #A76C1A, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	box-shadow: 0px 6px 0px #A76C1A, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
}


@media (max-width:885px){
	board{
		padding-bottom:20px;
		min-width:0px;
	}

	board .question-container{
		display:none;
	}

	board .category-name{
		width:unset;
		display:block;
		min-height:unset;
		line-height:unset;
	}

	board .category {
		width:100%;
	}

	board .category-name, board .question{
		margin-left:10px;
		margin-bottom:0px;
		cursor:pointer;
	}

	board .category-name{
		text-decoration: none;
		font-weight: bold;
		padding: 20px 20px;
		border: 1px solid #FF9F1C;
		background-image: linear-gradient(bottom,  #CB811D 0%, #FF9F1C 100%);
		background-image: -o-linear-gradient(bottom,  #CB811D 0%, #FF9F1C 100%);
		background-image: -moz-linear-gradient(bottom,  #CB811D 0%, #FF9F1C 100%);
		background-image: -webkit-linear-gradient(bottom, #CB811D 0%, #FF9F1C 100%);
		background-image: -ms-linear-gradient(bottom,  #CB811D 0%, #FF9F1C 100%);
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		text-shadow: 0px -1px 0px rgba(0,0,0,.5);
		-webkit-box-shadow: 0px 6px 0px #A76C1A, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
		-moz-box-shadow: 0px 6px 0px #A76C1A, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
		box-shadow: 0px 6px 0px #A76C1A, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	}

	board .progress{
		display:block;
		float:right;
		font-size:10px;
		//margin-right:-55px;
	}
	board .category:last-child .category-name, board .category:last-child .question{
		margin-right:15px;
	}
	#modalLeaderboard .amount{
		margin-left:0;
		width:80px;
	}
	#modalLeaderboard .winner{
		font-size:12px;
	}
}

@media (min-width:886px){
	.question-container{
		display:block !important;
	}
	.category{
		margin:0 !important;
	}
	board .progress{
		display:none;
	}
}