<div ng-show="!showQuestionBoard">
	<div class="category"
			 categoryId="{{category.id}}"
			 ng-repeat="category in categories">
		<div class="category-name font-small blue-background">
			{{category.name}}
		</div>
		<div class="question-container uk-animation-toggle"
				 category="{{category.name}}"
				 amount="{{question.amount}}"
				 ng-repeat="question in questions">
			<div class="question font-small uk-animation-scale-down blue-background"
					 ng-click="chooseQuestion(category.id,question.amount);">
				${{question.amount}}
			</div>
		</div>
	</div>
</div>
<div id="questionBoard"
		 class="green-background white-foreground"
		 ng-show="showQuestionBoard">
	<div id="question" ng-bind-html="question">

	</div>
	<div class="answers blue-background"
			 ng-click="chooseAnswer(answer.answerID)"
			 ng-repeat="answer in answers track by $index">
		{{answer.answer}}
	</div>
</div>