board{
	color:#FFF;
	width:100%;
	padding-bottom:5px;
	min-width:915px;
	text-transform: uppercase;
	max-width:915px;
}

board, board .category{
	display:inline-block;
}

board .category:last-child .category-name, board .category:last-child .question{
	margin-right:0;
}

board .category-name, board .question{
	text-align:center;
	min-width:100px;
	margin:15px 15px 15px 0px;
	padding:15px;
}

board .category-name{
	width:126px;
	font-size:10px;
	min-height:50px;
	display:flex;
	padding:10px 3px;
	align-items: center;
	line-height:20px;
}

board .question{
	cursor:pointer;
	border: 1px solid transparent;
}

board #questionBoard{
}

board #question{
	margin:20px;
	//text-align:left;
}

board #question, board .answers{
	font-family: 'Concert One', cursive;
}

board #question{
	line-height : 38px;
	font-size:30px;
}

board .answers{
	line-height:32px;
	font-size:24px;
}

board #question img{
	display:block;
	margin:0 auto;
	margin-top:15px;
	margin-bottom:5px;
}

board .answers{
	cursor:pointer;
	padding:20px;
	margin:20px;
}

board #dailyDouble{
	padding:10px;
}