<div id="modalLeaderboard" uk-modal>
	<div class="uk-modal-dialog uk-modal-body">

		<button class="uk-modal-close-default" type="button" uk-close></button>

		<div class="blue-foreground"
				 style="margin-bottom:5px;">
			Thank you for playing !
		</div>

		<div id="credit">
			Created by
			<span class="green-foreground">DK</span>
			(code) /
			<span class="green-foreground">Devin</span>
			(content)
		</div>

		<div class="green-foreground">
			Leaderboard
		</div>

		<ol>
			<li ng-repeat="winner in winners" class="winner">
				<div class="amount red-foreground">
					{{winner.amount}}
				</div>
				<div class="name">
					{{winner.name}}
				</div>
			</li>
		</ol>

		<div>
			<button class="uk-button uk-button-primary" ng-click="createNewGame();">Play again</button>
		</div>
	</div>
</div>