#modalLeaderboard .amount{
	display:inline-block;
	width:100px;
	margin-left:20px;
}

#modalLeaderboard .name{
	display:inline-block;
}

#modalLeaderboard .winner{
	margin-bottom:10px;
}

#modalLeaderboard #credit{
	font-size:10px;
	margin-bottom:20px;
}